/* Hanaa */

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&display=swap');
body{
    
    font-family:  'Roboto', sans-serif;
    background: rgb(2,0,36);
background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(28,212,20,1) 0%, rgba(178,255,0,1) 100%);
}
.container{
    margin-top: 50px;
    margin-left: 200px;
    
}

input{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    /* border: 3px solid grey; */
    border-style: none;
    margin:0;
}

button{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    background-color:  #63AB7B;
    color: white;
    font-weight: bold;
    border-style: none;
    margin:0;
    font-family:  'Roboto', sans-serif;
    
}

.police{
    font-family:  'Roboto', sans-serif;
}

.random{
    width: 100%;
    padding: 12px 60px;
    margin: 8px 0;
    background-color:  #FA2B00;
    color: white;
    font-weight: bold;
    border-style: none;
    margin:0;
}

.select{
    top: 14px;
    right: 10px;
    width: 20px;
    height: 30px;
}


/*fin Hanaa-->


/*Edouard*/ 

.toDoList {
    margin-left: 100px;
    width: 700px;
    max-width: 700px;
    margin-top: 60px;
    background-color: aliceblue;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: 2px;
    border-radius: 40px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.Check {

    font-size: 8px;
    border:darkgray;
    color: black;
    width: auto;
    height: auto;
    background-color: aliceblue;


}

.toDoStatus {

    font-size : 12px
    /* fontfamilly*/
    /* font seize weight*/
}


.toDoTexte{
    margin-top: 8px;
}


.buttonPrio{
    font-family: roboto;
    border-radius: 60px;
    background-color: orange;
    margin-left: 30px ;
    padding-left: 30px;
    padding-right: 30px;
    font-family:  'Roboto', sans-serif;
   box-shadow:  rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

select{
border-radius: 40px;    
}